.menu{
	padding: 20px;
	color: black;
	background: #ccc;
	background: linear-gradient(90deg, 
  rgb(255, 226, 226) 0%, 
  rgb(224, 255, 238) 100%);
	text-align: center;
	box-shadow: inset 15px 15px 2px #e3fbec, inset -15px -15px 2px #fee3e3;
}


.menu-title{
	font: 133px Arial;
	text-shadow: 7px 6px 5px #ffffff;
	opacity: 0.8;
}