body{
	background: #ddd;
}

.content{
	width: 	100%;
	max-width: 	600px;
	margin: 30px auto;
}

.content-sprite{
	margin-bottom: 50px;
	background: #ECFBFF;
	padding: 40px
}


.button2:hover .button-icon{
	color: white
}
.button2:hover{
	background: #8bd4e7;
}
.button2{
	background: white;
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 80px;
	border: 0;
	box-shadow: 0 1px 5px #b1b1b1;
	display: block;
	display: block;
}


.button{
	display: inline-block;
	border: 0;
	background: #ff924e;
	border-radius: 	20px;
	padding: 10px;
	margin-top: 	40px;
	color: white;
}

.button-icon,
.button-text{
	display:inline-block;	
	vertical-align: 	middle;
}
.button-text{
	margin-left: 	10px;
}
.button-icon{
	color: #2b2b2b;
}





.list-icons{
	margin-top: 50px;
}

.list-icons-li{
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	display: block;
}
.list-icons-li:after{
	content: "\f063";
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	top: 2px;
	left: 0	;
}

.sprite{
	background-image: url('../img/sprite2.png');
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.comment {
	background-position: -358px -326px;
	width: 20px;
	height: 20px;	
}
.cloud {
	background-position:-132px -136px;
	width: 24px;
	height: 16px;	
}




.sprive-svg{

}


.icon{
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
}



.icon-bell,
.icon-archives,
.icon-play,
.icon-home{
	fill: #797979;
}

.button2:hover .icon{
	fill: white
}


.button-counter{
	position: relative;
}
.button-counter-icon{
	position: absolute;
	top: -7px;
	right: -4px;
	width: 20px;
	height: 20px;
	background: #ffc090;
	color: #ce5900;
	font-size: 10px;
	padding: 4px;
	border-radius: 50%;
	font-family: monospace;
}

.button-counter:hover .button-counter-icon{
	background-color: #0c7a97;
	color: white;
}

