.object,
.iframe{
	border: 2px solid #fff;
	box-shadow: 2px 2px 10px #a9a9a9;
	margin: 30px auto;
	display: block;
	width: 100%;
}
.object{
	max-width: 400px;
	margin: 0 auto;
	height: 400px;
}
.iframe--is-large{
	height: 700px;
	max-width: 900px;
}
.iframe--is-medium{
	height: 400px;
	max-width: 500px;
}
.iframe--is-small{
	height: 200px;
	max-width: 300px;
}
