/*
 * Tabla.css
 * @author mfyance
 */


.everis-body{
	font-family: Roboto;
}

.table{
	border: 1px solid #000;
	width: 50%;
	margin: 40px auto;
}

.table-thead{
	border-bottom: 1px solid #000;
	font-weight: bolder;
}
.table-thead-th,
.table-tbody-td{
	padding: 10px;
}
.table-tbody-td{
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	/* font-family: arial */
}
.table-thead-th{
	background: #ccc;
	color: black;
	text-align: left;
	border-right: 1px solid #000;
	font-weight: bold;
}
.table-column--is-center{
	text-align: center;
}
.table-column--is-left{
	text-align: left;
}
.table-column--is-right{
	text-align: right;
}
.table-tbody-tr:nth-child(even){
	background: #F1F1F1;
}
.table-tbody-tr:nth-child(odd){
	background: #fff;
}








.table2{
	width: 50%;
	margin: 40px auto;
	box-shadow: 2px 2px 13px #00000029;
}

.table2-thead{
	/* border-bottom: 1px solid #000; */
	font-weight: bolder;
}
.table2-thead-th,
.table2-tbody-td{
	padding: 10px;
}
.table2-tbody-td{
	/* border-right: 1px solid #000; */
	/* border-bottom: 1px solid #000; */
	/* font-family: arial */
}
.table2-thead-th{
	background: #ccc;
	color: black;
	text-align: left;
	/* border-right: 1px solid #000; */
	font-weight: bold;
}
.table2-column--is-center{
	text-align: center;
}
.table2-column--is-left{
	text-align: left;
}
.table2-column--is-right{
	text-align: right;
}
.table2-tbody-tr:nth-child(even){
	background: #F1F1F1;
}
.table2-tbody-tr:nth-child(odd){
	background: #fff;
}