/*
 * Design Tokens
 * @author mfyance
 */

 
:root{
	--color-primary: #FF560A;
	--color-primary-black: #003f88;
	--color-secondary: #005ECC;
	--color-secondary-black: #e24600;
	--color-menu: #363C56;
	--color-disabled: #ddd;
	--font-primary: Roboto;
}