/*
 * Profile.css
 * @author mfyance
 */

.profile{
	background-color: #00B9EB;
	max-width: 400px;
	padding: 10px;
	position: relative;
}
.profile-text{
	color: white;
	display: inline-block;
	margin-left: 20px;
	font: 2rem var(--font-primary);
}

.profile-photo-img{
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
}

.profile-photo{	
	display: inline-block;		
	vertical-align: middle;
}

.profile-icon{
	position: absolute;
	right: 11px;
	top: calc(50% - 7px);
}